# GitHub Linguist configuration for NMS // TEXT CODES

# Markdown
*.md linguist-detectable=false
*.md linguist-documentation=true

# JSON
*.json linguist-detectable=true

# SVG
*.svg linguist-detectable=false